In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

In [2]:
!pip install pandas

Requirement already satisfied: pandas in /Users/eric/opt/anaconda3/lib/python3.9/site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/eric/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/eric/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in /Users/eric/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /Users/eric/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [4]:
df = pd.read_csv('/Users/eric/Documents/GitHub/Personal_Bank_Budgeting/Bank_Account_Data.csv')

In [5]:
df.head()

,02/21/2023,-7.20,*,Unnamed: 3,PURCHASE AUTHORIZED ON 02/19 IN N OUT BURGER 12 DAVIS CA S583051072360337 CARD 7605
0,02/21/2023,-18.39,*,NaN,PURCHASE AUTHORIZED ON 02/18 AMZN Mktp US*HP58...
1,02/21/2023,-5.19,*,NaN,PURCHASE AUTHORIZED ON 02/17 MCDONALD'S F4745 ...
2,02/14/2023,-15.03,*,NaN,PURCHASE AUTHORIZED ON 02/14 OFFICE MA 2107 CO...
3,02/13/2023,-11.33,*,NaN,PURCHASE AUTHORIZED ON 02/12 VENMO* Visa Direc...
4,02/13/2023,-4.49,*,NaN,PURCHASE AUTHORIZED ON 02/12 VENMO* Visa Direc...

In [10]:
df.rename(columns={'02/21/2023': 'Dates'}, inplace=True)

In [11]:
df.head()

,dates,-7.20,*,Unnamed: 3,PURCHASE AUTHORIZED ON 02/19 IN N OUT BURGER 12 DAVIS CA S583051072360337 CARD 7605
0,02/21/2023,-18.39,*,NaN,PURCHASE AUTHORIZED ON 02/18 AMZN Mktp US*HP58...
1,02/21/2023,-5.19,*,NaN,PURCHASE AUTHORIZED ON 02/17 MCDONALD'S F4745 ...
2,02/14/2023,-15.03,*,NaN,PURCHASE AUTHORIZED ON 02/14 OFFICE MA 2107 CO...
3,02/13/2023,-11.33,*,NaN,PURCHASE AUTHORIZED ON 02/12 VENMO* Visa Direc...
4,02/13/2023,-4.49,*,NaN,PURCHASE AUTHORIZED ON 02/12 VENMO* Visa Direc...

In [16]:
df.rename(columns={'-7.20':'Total Money $'},inplace=True)
df.head()

df.rename(columns={'PURCHASE AUTHORIZED ON 02/19 IN N OUT BURGER 12 DAVIS CA S583051072360337 CARD 7605':'Transaction'},inplace=True)
df.head()

,dates,Total Money,*,Unnamed: 3,Transaction
0,02/21/2023,-18.39,*,NaN,PURCHASE AUTHORIZED ON 02/18 AMZN Mktp US*HP58...
1,02/21/2023,-5.19,*,NaN,PURCHASE AUTHORIZED ON 02/17 MCDONALD'S F4745 ...
2,02/14/2023,-15.03,*,NaN,PURCHASE AUTHORIZED ON 02/14 OFFICE MA 2107 CO...
3,02/13/2023,-11.33,*,NaN,PURCHASE AUTHORIZED ON 02/12 VENMO* Visa Direc...
4,02/13/2023,-4.49,*,NaN,PURCHASE AUTHORIZED ON 02/12 VENMO* Visa Direc...