In [53]:
import pandas as pd 
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

In [54]:
!pip install pandas

Requirement already satisfied: pandas in /Users/eric/opt/anaconda3/lib/python3.9/site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/eric/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/eric/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in /Users/eric/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /Users/eric/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [55]:
df = pd.read_csv('/Users/eric/Documents/Github/Personal_Bank_Budgeting/Checking1.csv') #RUN EVERYTIME
df.head()

,12/30/22,-17,*,Venmo,PURCHASE AUTHORIZED ON 12/30 VENMO* Visa Direct NY S302364781105329 CARD 7605
0,12/30/22,-4.00,*,Venmo,PURCHASE AUTHORIZED ON 12/29 VENMO* Visa Direc...
1,12/30/22,-5.25,*,Food,PURCHASE AUTHORIZED ON 12/28 BEI YUAN TEA & BO...
2,12/28/22,-6.00,*,Venmo,PURCHASE AUTHORIZED ON 12/27 VENMO* San Jose C...
3,12/27/22,-2.75,*,Venmo,PURCHASE AUTHORIZED ON 12/27 VENMO* Visa Direc...
4,12/27/22,-7.00,*,Venmo,PURCHASE AUTHORIZED ON 12/27 VENMO* Visa Direc...

In [56]:
df.rename(columns={'12/30/22': 'Dates'},inplace=True)
df.rename(columns={'-17': 'Money Spent'},inplace=True)
df.rename(columns={'Venmo':'Type of Transaction'},inplace=True)
df.rename(columns={'PURCHASE AUTHORIZED ON 12/30 VENMO* Visa Direct NY S302364781105329 CARD 7605':'Transaction'},inplace=True)
del df['*']
df.head()

,Dates,Money Spent,Type of Transaction,Transaction
0,12/30/22,-4.00,Venmo,PURCHASE AUTHORIZED ON 12/29 VENMO* Visa Direc...
1,12/30/22,-5.25,Food,PURCHASE AUTHORIZED ON 12/28 BEI YUAN TEA & BO...
2,12/28/22,-6.00,Venmo,PURCHASE AUTHORIZED ON 12/27 VENMO* San Jose C...
3,12/27/22,-2.75,Venmo,PURCHASE AUTHORIZED ON 12/27 VENMO* Visa Direc...
4,12/27/22,-7.00,Venmo,PURCHASE AUTHORIZED ON 12/27 VENMO* Visa Direc...

In [57]:
df

,Dates,Money Spent,Type of Transaction,Transaction
0,12/30/22,-4.00,Venmo,PURCHASE AUTHORIZED ON 12/29 VENMO* Visa Direc...
1,12/30/22,-5.25,Food,PURCHASE AUTHORIZED ON 12/28 BEI YUAN TEA & BO...
2,12/28/22,-6.00,Venmo,PURCHASE AUTHORIZED ON 12/27 VENMO* San Jose C...
3,12/27/22,-2.75,Venmo,PURCHASE AUTHORIZED ON 12/27 VENMO* Visa Direc...
4,12/27/22,-7.00,Venmo,PURCHASE AUTHORIZED ON 12/27 VENMO* Visa Direc...
...,...,...,...,...
435,1/3/22,-164.12,Food,PURCHASE AUTHORIZED ON 01/01 HANDOO SAN DIEGO ...
436,1/3/22,-4.95,Food,PURCHASE AUTHORIZED ON 01/01 CHICK-FIL-A #0381...
437,1/3/22,-11.54,Food,PURCHASE AUTHORIZED ON 12/30 RAISING CANE'S 49...
438,1/3/22,139.00,Paid,VENMO CASHOUT 220102 1017725962825 ERIC KYE
439,1/3/22,19.00,Paid,VENMO CASHOUT 220102 1017726313951 ERIC KYE

In [60]:
df['Money Spent'] = df['Money Spent'].multiply(-1)


df.head()


df

,Dates,Money Spent,Type of Transaction,Transaction
0,12/30/22,4.00,Venmo,PURCHASE AUTHORIZED ON 12/29 VENMO* Visa Direc...
1,12/30/22,5.25,Food,PURCHASE AUTHORIZED ON 12/28 BEI YUAN TEA & BO...
2,12/28/22,6.00,Venmo,PURCHASE AUTHORIZED ON 12/27 VENMO* San Jose C...
3,12/27/22,2.75,Venmo,PURCHASE AUTHORIZED ON 12/27 VENMO* Visa Direc...
4,12/27/22,7.00,Venmo,PURCHASE AUTHORIZED ON 12/27 VENMO* Visa Direc...
...,...,...,...,...
435,1/3/22,164.12,Food,PURCHASE AUTHORIZED ON 01/01 HANDOO SAN DIEGO ...
436,1/3/22,4.95,Food,PURCHASE AUTHORIZED ON 01/01 CHICK-FIL-A #0381...
437,1/3/22,11.54,Food,PURCHASE AUTHORIZED ON 12/30 RAISING CANE'S 49...
438,1/3/22,-139.00,Paid,VENMO CASHOUT 220102 1017725962825 ERIC KYE
439,1/3/22,-19.00,Paid,VENMO CASHOUT 220102 1017726313951 ERIC KYE